# Initial Data Exploration

In [1]:
import pandas as pd

yield_tables = pd.read_csv("../data/raw/yield_tables.csv", sep=";")
yield_tables_meta = pd.read_csv("../data/raw/yield_tables_meta.csv", sep=";")

In [2]:
yield_tables.describe()

,id,yield_class,age,dominant_height,average_height,dbh,taper,trees_per_ha,basal_area,volume_per_ha,average_annual_age_increment,total_growth_performance,current_annual_increment
count,14398.000000,14398.000000,14398.000000,8825.000000,9340.000000,9113.000000,4425.000000,9255.000000,9511.000000,14282.000000,4882.000000,5155.000000,8691.000000
mean,125.767954,7.899590,79.438741,22.114483,20.367438,26.342264,0.455306,1166.835475,33.763197,361.887531,6.698520,682.758487,8.265104
std,65.677997,5.677468,48.892472,22.425561,8.747435,14.288931,0.073344,2194.385171,13.796179,239.798271,7.437787,457.677307,5.534094
min,1.000000,0.000000,4.000000,0.000000,0.000000,-36.400000,0.066000,0.000000,0.000000,0.000000,0.100000,0.000000,-0.060000
25%,89.000000,4.000000,40.000000,15.000000,13.800000,16.100000,0.435000,403.000000,23.500000,176.000000,3.100000,306.000000,4.400000
50%,148.000000,6.000000,70.000000,21.900000,20.000000,24.900000,0.452986,668.000000,32.380000,316.000000,4.850000,600.000000,7.000000
75%,180.000000,11.000000,110.000000,28.800000,26.600000,35.028492,0.482000,1249.000000,43.600000,505.000000,7.500000,993.500000,10.800000
max,213.000000,36.000000,300.000000,1919.000000,74.000000,514.000000,4.330000,77650.000000,80.300000,1421.000000,70.000000,2462.000000,44.900000

In [3]:
yield_tables_meta.head()

,id,title,country_codes,type,source,link,yield_class_step,age_step,tree_type
0,1,Fichte Hochgebirge,"AT,DE",dgz_100,"1975, Julius Marschall: Hilfstafeln für die Fo...",https://www.avbuch-shop.at/landwirtschaft/lehr...,1.0,10,coniferous
1,2,Fichte Bayern,"AT,DE",dgz_100,"1975, Julius Marschall: Hilfstafeln für die Fo...",https://www.avbuch-shop.at/landwirtschaft/lehr...,1.0,10,coniferous
2,3,Fichte Bruck,"AT,DE",dgz_100,"1975, Julius Marschall: Hilfstafeln für die Fo...",https://www.avbuch-shop.at/landwirtschaft/lehr...,1.0,10,coniferous
3,4,Fichte Weitra,"AT,DE",dgz_100,"1975, Julius Marschall: Hilfstafeln für die Fo...",https://www.avbuch-shop.at/landwirtschaft/lehr...,1.0,10,coniferous
4,5,Tanne NWD,"AT,DE",dgz_100,"1975, Julius Marschall: Hilfstafeln für die Fo...",https://www.avbuch-shop.at/landwirtschaft/lehr...,1.0,10,coniferous

In [7]:
print(f"Null values on tree type: {yield_tables_meta['tree_type'].isna().sum()}")
print(f"Null values on title (gives indication about tree species): {yield_tables_meta['title'].isna().sum()}")

Null values on tree type: 0
Null values on title (gives indication about tree species): 0