# Merge the CSV files

The data is provided in two separate CSV files: `yield_tables.csv` and `yield_tables_meta.csv`. The first file contains the actual yield tables, while the second file contains metadata about each yield table, including the tree type. We will merge these two files based on the `id` column, which is common to both files.

In [14]:
import pandas as pd

In [15]:
yield_tables = pd.read_csv("../data/raw/yield_tables.csv", sep=";")
yield_tables_meta = pd.read_csv("../data/raw/yield_tables_meta.csv", sep=";")

# Merge the CSV files
merged_yield_tables = pd.merge(
    yield_tables, yield_tables_meta[["id", "title", "tree_type"]], on="id", how="left"
)

# Save the merged file
merged_yield_tables.to_csv("../data/interim/merged_yield_tables.csv", index=False)

merged_yield_tables.head()

,id,yield_class,age,dominant_height,average_height,dbh,taper,trees_per_ha,basal_area,volume_per_ha,average_annual_age_increment,total_growth_performance,current_annual_increment,mean_annual_increment,title,tree_type
0,1,15.0,20,5.9,5.3,11.5,0.396,2585.0,26.8,54.0,2.7,63.0,NaN,3.2,Fichte Hochgebirge,coniferous
1,1,15.0,30,12.2,10.6,16.7,0.458,1708.0,37.5,180.0,6.0,208.0,14.5,6.9,Fichte Hochgebirge,coniferous
2,1,15.0,40,18.3,15.7,21.6,0.460,1266.0,46.3,334.0,8.4,397.0,18.9,9.9,Fichte Hochgebirge,coniferous
3,1,15.0,50,23.4,20.5,26.1,0.456,1003.0,53.5,499.0,10.0,605.0,20.8,12.1,Fichte Hochgebirge,coniferous
4,1,15.0,60,27.6,24.6,30.2,0.451,830.0,59.4,659.0,11.0,815.0,21.0,13.6,Fichte Hochgebirge,coniferous

In [16]:
merged_yield_tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14398 entries, 0 to 14397
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            14398 non-null  int64
 1   yield_class                   14398 non-null  float64
 2   age                           14398 non-null  int64
 3   dominant_height               8825 non-null   float64
 4   average_height                9340 non-null   float64
 5   dbh                           9113 non-null   float64
 6   taper                         4425 non-null   float64
 7   trees_per_ha                  9255 non-null   float64
 8   basal_area                    9511 non-null   float64
 9   volume_per_ha                 14282 non-null  float64
 10  average_annual_age_increment  4882 non-null   float64
 11  total_growth_performance      5155 non-null   float64
 12  current_annual_increment      8691 non-null   float64
 13  mean_annual_increment         8965 non-null   object
 14  title                         13801 non-null  object
 15  tree_type                     13801 non-null  object
dtypes: float64(11), int64(2), object(3)
memory usage: 1.8+ MB

In [17]:
merged_yield_tables.describe()

,id,yield_class,age,dominant_height,average_height,dbh,taper,trees_per_ha,basal_area,volume_per_ha,average_annual_age_increment,total_growth_performance,current_annual_increment
count,14398.000000,14398.000000,14398.000000,8825.000000,9340.000000,9113.000000,4425.000000,9255.000000,9511.000000,14282.000000,4882.000000,5155.000000,8691.000000
mean,125.767954,7.899590,79.438741,22.114483,20.367438,26.350253,0.455306,1166.835475,33.763197,361.887531,6.698520,682.758487,8.265104
std,65.677997,5.677468,48.892472,22.425561,8.747435,14.274192,0.073344,2194.385171,13.796179,239.798271,7.437787,457.677307,5.534094
min,1.000000,0.000000,4.000000,0.000000,0.000000,0.400000,0.066000,0.000000,0.000000,0.000000,0.100000,0.000000,-0.060000
25%,89.000000,4.000000,40.000000,15.000000,13.800000,16.100000,0.435000,403.000000,23.500000,176.000000,3.100000,306.000000,4.400000
50%,148.000000,6.000000,70.000000,21.900000,20.000000,24.900000,0.452986,668.000000,32.380000,316.000000,4.850000,600.000000,7.000000
75%,180.000000,11.000000,110.000000,28.800000,26.600000,35.060000,0.482000,1249.000000,43.600000,505.000000,7.500000,993.500000,10.800000
max,213.000000,36.000000,300.000000,1919.000000,74.000000,514.000000,4.330000,77650.000000,80.300000,1421.000000,70.000000,2462.000000,44.900000